{{- $u := urls.Parse .Destination }}
{{- $src := $u.String }}

{{- if or (not $u.IsAbs) (and $u.IsAbs (strings.HasPrefix $u.Path "/") (not (strings.HasPrefix $u.String "http"))) }}

  {{- $path := strings.TrimPrefix "./" $u.Path }}

  {{- $res := or (.PageInner.Resources.Get $path) (resources.Get $path) }}

  {{- if $res }}
    {{- $src = $res.RelPermalink }}
  {{- else if strings.HasPrefix $u.Path "/" }}
    {{- $src = printf "%s%s" .Page.Site.BaseURL $u.Path }}
  {{- end }}

  {{- with $u.RawQuery }}
    {{- $src = printf "%s?%s" $src . }}
  {{- end }}

  {{- with $u.Fragment }}
    {{- $src = printf "%s#%s" $src . }}
  {{- end }}
{{- end }}
